TELEGRAM_TOKEN=8538420604:AAFSZ7iuKBYNvb_A04VY3Xv54DaNYp7nuEU
STAFF_CHAT_ID=8479098318
SUPPORT_CHAT_ID=8479098318
ADMIN_IDS=8479098318,2041615176
SERVER_IP=your.server.ip
SERVER_VERSION=1.20.x
SERVER_DISCORD=discord.gg/yourserver
ADMIN_USERNAME=@YourAdminUsername
